@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.nav {
    background-color: transparent;
}


.login-container {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("https://images.unsplash.com/photo-1472787563973-2f710070695d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.signup-container {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("https://images.unsplash.com/photo-1463593042669-1bf00846b1b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.banner-container .slide1 {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("https://cdn.pixabay.com/photo/2020/02/28/15/35/bird-4887736_960_720.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.banner-container .slide2 {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1480044965905-02098d419e96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.banner-container .slide3 {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1588811370904-9e5cd7381786?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.banner-container .slide4 {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1444465146604-4fe67bfac6e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}


.qoutes
{
    /* font-family: 'Lobster', cursive; */
    font-family: 'Pacifico', cursive;
}

.insp
{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.insp-header
{
    font-family: 'Poppins', sans-serif;
    
}

.btn-buy
{
    background-color: #F15A59;
    color: #fff;
    border: 3px solid transparent;
}

.btn-buy:hover
{
    background-color: #ED2B2A;
    color: #eee;
    
    border: 3px solid transparent;
}



.btn-detailes
{
    background-color: #FFB26B;
    color: #fff;
    border: 3px solid transparent;
}

.btn-detailes:hover
{
    background-color: #EF9A53;
    color: #eee;
    border: 3px solid transparent;
}




.cart-icon
{
    width: 25%;
}

.google-animation
{
    width: 15%;
}

.git-animation
{
    width: 15%;
}
.title-icon
{
    width: 40%;
    height: 100%;
}


.About-us
{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1478695605156-f64b0ee877f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}



