$myDisplay : grid;
$my-template-column : repeat( 2 , minmax(0,1fr));


.container
{
    padding:  4rem;
    margin-left: auto;
    margin-right : auto;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}


.cartContainer
{ 
    display: $myDisplay;
    grid-template-columns: $my-template-column;
    gap: 4rem;
}


.productsContainer
{
    display: $myDisplay;
    grid-template-columns: $my-template-column;
    gap: 2rem;

}